html {font-family: 'Open Sans', sans-serif;}
h3 {
  font-weight: 300;
  font-size: 15px;
  -webkit-margin-before: 5px;
  -webkit-margin-after: 5px;
}
h2 {
  -webkit-margin-before: 5px;
  -webkit-margin-after: 5px;
}

label, tag {
  -webkit-user-select: none; /* Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

/******************/
/*    Buttons     */
/******************/
button, input[type = "submit"] {
  margin: 1%;
  padding: 10px 15px 10px 15px;
  color: Black;
  font-weight: 600;
  border-radius: 3px;
  min-width: 100px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  border: none;
  text-align: center;
  text-decoration: none;
  background: #F4F4F4;
}

button:hover {
  box-shadow: 0 4px 6px rgba(0,0,0,0.35);
}

#primary, #blue, input[type="submit"] {
  background: #148ff5;
  color: #ffffff;
}

#secondary, #grey {
  background: #2a2a2a;
  color: #ffffff;
}

#warning, #red {
  background: #f5141f;
  color: #ffffff;
}

#safty, #orange {
  background: #f57a14;
  color: #fff;
}


/******************/
/* Input Text Box */
/******************/

:focus{outline: none;}

.size {
  display: block;
  margin-top: 25px;
  position: relative;
  padding-bottom: 15px;
  width: 250px; /* Defualt */
}
input[type="text"], input[type="password"] {
  color: #333;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  padding-left: 8px;
}

.input {
  border: 0;
  padding: 4px 0;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
}

label {
  pointer-events: none;
}

.password {
  -webkit-text-security: disc;
}

.input ~ .focus-border {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #148ff5;
  transition: 0.4s;

}
.input:focus ~ .focus-border,
.has-content.effect-16 ~ .focus-border {
  width: 100%;
  transition: 0.4s;
}

.input ~ label {
  position: absolute;
  left: 0;
  width: 100%;
  top: 9px;
  color: #aaa;
  transition: 0.3s;
  letter-spacing: 0.5px;
}



.input:focus ~ label, .has-content.input ~ label {
  top: -11px;
  font-size: 12px;
  color: #148ff5;
  transition: 0.2s;
}



/******************/
/*  Button Ripple */
/******************/
.ripple {
  position: relative;
}
.ripple .ripple-effect-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
  border-radius: inherit;
}
.ripple .ripple-effect {
  position: absolute;
  background-color: rgba(0,0,0,0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  line-height: 0;
}
.ripple .ripple-effect2 {
    background-color: rgba(0,0,0,0.8);

}
.ripple .ripple-content {
  position: relative;
  z-index: 1;
}


/******************/
/*    Dropdown    */
/******************/
dropdown {
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  height: 28px;
  margin-top: 30px;
  position: relative;
  width: 150px;
  background: rgba(0,0,0,0);
  border-bottom: .5px solid #ccc;
}

/* Blue line animation */
dropdown span {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #148ff5;
}

.blueSlide {
  animation: blueSlide 0.4s;
  animation-fill-mode: forwards;
}

@keyframes blueSlide {
  0%{width: 0%;}
  100%{width: 100%;}
}

.blueSlide-close {
  animation: blueSlide-close 0.4s;
  animation-fill-mode: forwards;
}

@keyframes blueSlide-close {
  0%{width: 100%;}
  100%{width: 0%;}
}


/* Makes dropdown icon */
dropdown:before, dropdown:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888888 transparent;
  pointer-events: none;
}

dropdown:before {
  border-bottom-style: solid;
  border-top: none;
}

dropdown:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-left: 8px;
  width: 130%;
  padding: 0px 8px 6px 0px;
  height: 33px;
  line-height: 14px;
  background: rgba(0, 0, 0, 0) !important;
  border: 0;
  color: #333;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #aaa;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  opacity: 0;
  -webkit-margin-before: -5px;
}

select:focus {
  z-index: 3;
  width: 100%;
  opacity: 0;
  outline: 2px solid rgba(0,0,0,0);
  outline: 2px solid rgba(0,0,0,0);
  outline-offset: -2px;
}

.dropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #f2f2f2;
  border-radius: 3px;
  cursor: pointer;
}



/* Fix for IE 8 putting the arrows behind the select element. */

.lt-ie9 .dropdown {
  z-index: -1;
}

.lt-ie9 .dropdown-select {
  z-index: -1;
}

.lt-ie9 .dropdown-select:focus {
  z-index: 3;
}

select::-ms-expand {
    display: none;
}

/* Dirty fix for Firefox adding padding where it shouldn't. */

@-moz-document url-prefix() {
  .dropdown-select {
    padding-left: 6px;
  }
}

dropdown label {
  position: absolute;
  left: 0;
  width: 100%;
  top: 5px;
  color: #aaa;
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 0.5px;
}

.active-title {
  top: -15px; /*11*/
  font-size: 12px;
  color: #148ff5;
  transition: 0.2s;
}


/******************/
/* Radio Checkbox */
/******************/
.title {
  font-size: 12px;
    color: #148ff5;
  letter-spacing: 0.5px;
  margin-top: 20px;
}
.radio {
  margin: 15px 0px 10px 8px !important;
  font-weight: 600;
  color: #333;
}
input[type=radio]:disabled+label {
  font-style: italic;
  color: #ccc;
}
.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.radio input[type="radio"] + .radio-label:before {
  content: '';
  background: rgba(0,0,0,0);
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #148ff5;
  box-shadow: inset 0 0 0 4px #fff;
}
.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #ccc;
}
.radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #fff;
  border-color: #ccc;
  background: #ccc;
      font-weight: 600;
    color: blue;
}
.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}




/******************/
/*    Checkbox    */
/******************/
/*
  Credit to Hannes Kamecke
  on codepen.io
  Material Design Checkbox CSS only
*/
.checkbox {
  position: relative;
  margin: 15px 0px 10px 8px !important;
  text-align: left;
}
.checkbox.checkbox-inline {
  display: inline-block;
}
.checkbox label {
  margin: 15px 0px 10px 8px !important;
  font-weight: 600;
  color: #333;
}
.checkbox label:before, .checkbox label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}
.checkbox label:before {
  width: 22px;
  height: 22px;
  background: #fff;
  border: 1px solid #b4b4b4;
  border-radius: 2px;
  cursor: pointer;
  transition: background .3s;
}
.checkbox input[type="checkbox"] {
  outline: 0;
  margin-right: 10px;
/*   visibility: hidden; */
}
input[type=checkbox]:disabled+label {
  font-style: italic;
  color: #ccc;
}
.checkbox input[type="checkbox"]:checked + label:before {
  background: #148ff5;
  border: none;
}
.checkbox input[type="checkbox" i ] {
  margin: 10px;
}
.checkbox input[type="checkbox"]:checked + label:after {
  transform: rotate(-45deg);
  top: 5px;
  left: 4px;
  width: 12px;
  height: 6px;
  border: 2px solid #fff;
  border-top-style: none;
  border-right-style: none;
  transition: 0.4s;
}
.checkbox input[type="checkbox"]:disabled + label:before {
  border-color: #ccc;
}
.checkbox input[type="checkbox"]:disabled:checked + label:before {
  background: rgba(0, 0, 0, 0.26);
}

*, *:before, *:after {
  box-sizing: border-box;
}
.checkbox input[type="checkbox"]:checked + label:after {
/*   transform: rotate(-33deg);
    top: 4px;
    left: 6px;
    width: 21px;
    height: 8px;
    border: 3px solid #fff;
    border-top-style: none;
    border-right-style: none; */
  transform: rotate(-45deg);
  top: 3px;
  left: 5px;
  width: 19px;
  height: 8px;
  border: 3px solid #fff;
  border-top-style: none;
  border-right-style: none;
}

/******************/
/*     Tags       */
/******************/
tag {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px 7px;
  color: #333;
  margin: 5px;
}

tag:hover {
  color: white;
  background: #148ff5;
  transition: 0.3s;
  border: 1px solid #148ff5;
}





/******************/
/*    Accordion   */
/******************/
/*
  Credit to Srdjan Pajdic
  on codepen.io
  Sexy Accordion
*/
.accordion {
  max-width: 560px;
  border-top: 1px solid #ccc;
  list-style-type: none;
  padding-left: 0;
}
.accordion li {
  border-bottom: 1px solid #ccc;
  position: relative;
}
.accordion li p {
  display: none;
  padding: 12px 48px 22px;
  color: #6b97a4;
}
.accordion a {
  width: 100%;
  display: block;
  cursor: pointer;
  font-weight: 600;
  color: #333;
  line-height: 3;
  font-size: 14px;
  text-indent: 15px;
  user-select: none;
}
.accordion a:after {
  width: 8px;
  height: 8px;
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  position: absolute;
  right: 10px;
  content: " ";
  top: 17px;
  transform: rotate(-45deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.accordion p {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 2;
  padding: 10px;
}

a.active:after {
  transform: rotate(45deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}







/********************/
/*   Card Widgets   */
/********************//*
The card is the widget that holds
information for the view-port there
are multiple types of cards. some are
just images and some are just text.
*/

/* Main Card - UI2 */

grid {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
}

card {
  width: auto !important;
  height: 150px !important;
}

card {
  display: block;
  width: 150px; /* Sets card width */
  height: 150px; /*Image min-150px Sets high of card */
  margin: 5%;
  background: #fc;
  border-radius: 5px;
  box-shadow: 0px 3px 5px rgba(0,0,0,.3);

  /*  Sets up background if there is a full image card  */
  background-position: center center !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  -webkit-user-select: none; /* Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
  cursor: pointer;
}





.tag {
  height: 54px !important;
  overflow: hidden;
}

.tag h1 {
  padding-top: 8px;
  margin-left: 5px;
  width: max-content;
}

.tag h2 {
  margin-left: 5px;
  width: max-content;
}

.tag .sidebar {
  left: 0px;
  width: 4px;
  height: 100px;
  top: 0px;
  background: #148ff5;
}

.tag #blue {
  background: #148ff5;
}

.tag #none {
  background: rgba(0,0,0,0);
}

.tag #grey {
  background: #2a2a2a;
}

.tag #green {
  background: #2ecc71;
}

.tag #purple {
  background: #9b59b6;
}

.tag #yellow {
  background: #f1c40f;
}

.tag #red {
  background: #e74c3c;
}

.imgCard {
  overflow: hidden;
  position:relative;
}

.imgCard img {
  height: 100%;
}

.imgCard h2 {
  background: rgba(0,0,0, 0.5);
  color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0px;
}

.imgCard .titleBackground {
  position: absolute;
    width: 100%;
    bottom: 0;
    height: 20px;
    background: rgba(0,0,0,.3);
    color: white;
  border-radius: 0px 0px 5px 5px;
}

.imgCard .titleBackground h2 {
  color: white;
  font-weight: 300;
  padding-top: 3px;
}

/* Main Card Hover - UI2 */
card:hover {
  box-shadow: 1px 5px 6px rgba(0,0,0,.3);
}

/* Card Text Heading 1 - UI2 */
card h1 {
  color: rgba(0,0,0,0.9);
  font-size: 19px;
  font-weight: 600;
  margin-top: -2px;
  margin-bottom: 0px;
  padding-left: 8px;
  padding-bottom: 0px;
  -webkit-margin-before: -2px;
  -webkit-margin-after: 0px;
}

/* Card Text Heading 2 - UI2 */
card h2 {
  color: rgba(0,0,0,0.3);
  font-size: 12px;
  font-weight: 400;
  line-height: 11px;
  margin-top: 1px;
  margin-bottom: 2px;
  padding-left: 9px;
  -webkit-margin-before: 1px;
  -webkit-margin-after: 2px;
}

/* Card Img - UI2 */
card img {
  width: 100%;
  height: 66%;
  border-radius: 5px 5px 0px 0px;
  object-fit: cover;
}
